<!--<nav class='navbar navbar-expand navbar-light bg-light'>-->
  <!--<a class='navbar-brand'>{{pageTitle}}</a>-->
  <!--<a class='nav-link' [routerLink]="['/companies']">Company List</a>-->
  <!--<a class='nav-link' [routerLink]="['/options']">Option List</a>-->
  <!--&lt;!&ndash;<ul class='nav nav-pills'>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a class='nav-link' [routerLink]="['/companies']">Company List</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a class='nav-link' [routerLink]="['/options']">Option List</a></li>&ndash;&gt;-->

  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</nav>-->
<!--<div class='container'>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->
<pm-navigation-bar></pm-navigation-bar>
<router-outlet></router-outlet>
